{% extends "votein_server/base.html" %}
{% load staticfiles %}

{% block extra-css %}<link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">{% endblock %}

{% block nav-about %}<li class="active"><a href="{% url 'about' %}">About</a></li>{% endblock %}

{% block content %}
      <div class="row marketing">
        <div class="col-lg-12">
          <h4>Quick Pitch</h4>
          <p>We are creating <b>Google Moderator for blogposts</b>.</p>
          
          <h4>About</h4>
          <p>We're trying to change the way people reach opinionated content on the web. Right now, the way readers argue about the author's opinions are using discussions on mediums such as blog comments, HackerNews, Reddit, Twitter, Facebook etc. </p>
          <p>At <a href="{% url 'home' %}">vote.in</a>, users author their personal thoughts, opinions, advice, suggestions etc under a single post. They can then embed this post on their blogs or websites. Each <a href="{% url 'home' %}">vote.in</a> widget has upvote/downvote buttons so that people can upvote/downvote the opinions, suggestions, advice, thoughts etc. in <a href="{% url 'home' %}">vote.in</a> post.</p>
          <p>We're going to aggregate upvotes/downvotes for different opinions (in a particular <a href="{% url 'home' %}">vote.in</a> post) to show useful analytics both to author and readers. This aggregate measure will be proportional to number of readers agreeing with the post. We plan to create a recommender system that'll suggest other highly rated similar posts.</p>

          <h4>Technology Stack</h4>
          <ul>
              <li><a href="http://www.ubuntu.com/">Ubuntu</a> 12.04 (hosted on <a href="https://www.digitalocean.com/?refcode=85e4977f870b">DigitalOcean</a>)</li>
              <li><a href="http://nginx.org/">Nginx</a></li>
              <li><a href="http://gunicorn.org/">Gunicorn</a></li>
              <li><a href="http://www.python.org/">Python</a>/<a href="https://www.djangoproject.com/">Django</a></li>
              <li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
              <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
              <li><a href="http://www.vagrantup.com/">Vagrant</a></li>
          </ul>
          

        </div>

      </div>
{% endblock %}
