{% extends "votein_server/base.html" %}
{% load staticfiles %}

{% block extra-css %}<link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">{% endblock %}

{% block nav-contact %}<li class="active"><a href="{% url 'contact' %}">Contact</a></li>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Contact us</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Abhas Bodas (abha<a href="http://www.google.com/recaptcha/mailhide/d?k=01mfgIFmRQiJ-AFk0t2Kt5dg==&amp;c=Ic8L0rbtahx8Heh3VL5PeuCzClKkkFt8f7KXOA_h4fs=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mfgIFmRQiJ-AFk0t2Kt5dg\75\75\46c\75Ic8L0rbtahx8Heh3VL5PeuCzClKkkFt8f7KXOA_h4fs\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@gmail.com)</li>
                    <li>Sarup Banskota (sban<a href="http://www.google.com/recaptcha/mailhide/d?k=01mfgIFmRQiJ-AFk0t2Kt5dg==&amp;c=iEm089zSv36XQoBiQnSxTnTQdM16Af-iBJ1GCIxR0TA=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mfgIFmRQiJ-AFk0t2Kt5dg\75\75\46c\75iEm089zSv36XQoBiQnSxTnTQdM16Af-iBJ1GCIxR0TA\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@gmail.com)</li>
                    <li><a href="http://amberj.devio.us/">Amber Jain</a> (i.am<a href="http://www.google.com/recaptcha/mailhide/d?k=01mfgIFmRQiJ-AFk0t2Kt5dg==&amp;c=SSoWwxQ4kjnTzzjDb0Jc5YGDzFZ5a7nJSmETB5chVVg=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mfgIFmRQiJ-AFk0t2Kt5dg\75\75\46c\75SSoWwxQ4kjnTzzjDb0Jc5YGDzFZ5a7nJSmETB5chVVg\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@gmail.com)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
